<script id="Areas" type="text/html">
	<div class="Areas">
		<header class="main-header">
			<div class="header-left">
				<div class="icon"></div>
				<div class="logo">ISONAS</div>
			</div>
			<div class="header-center">
				<div class="action">
					<span class="icon"></span>
					<span>Update Access Points</span>
				</div>
			</div>
			<div class="header-right">
				<div class="item">
					<span class="icon"></span>
				</div>
				<div class="item">
					<span class="icon"></span>
				</div>
				<div class="item user-info">
					<span class="icon user-icon">
					</span>
					<span class="icon arrow-icon"></span>
				</div>
			</div>
		</header>
		<section class="main-content">
			<ul class="menu">
				<li class="menu-item active">
					<a tabindex="-1" data-nav="dashboard" href="#dashboard">
						<span class="icon"></span>
						<span>Dashboard</span>
					</a>
				</li>
				<li class="menu-item">
					<a tabindex="-1" data-nav="users" href="#users">
						<span class="icon"></span>
						<span>Users</span>
					</a>
				</li>
				<li class="menu-item">
					<a tabindex="-1" data-nav="accesscontrol" href="#accesscontrol">
						<span class="icon"></span>
						<span>Access Control</span>
					</a>
				</li>
				<li class="menu-item">
					<a tabindex="-1" data-nav="reports" href="#reports">
						<span class="icon"></span>
						<span>Reports</span>
					</a>
				</li>
				<li class="menu-item">
					<a tabindex="-1" data-nav="settings" href="#settings">
						<span class="icon"></span>
						<span>Settings</span>
					</a>
				</li>
				<li class="menu-item">
					<a tabindex="-1" data-nav="alerts" href="#alerts">
						<span class="icon"></span>
						<span>Alerts</span>
					</a>
				</li>
			</ul>
			<div class="content-ctn">
				<div class="sub-header">
					<ul class="sub-menu">
						<li class="sub-menu-item ">
							<a tabindex="-1" data-nav="rules" href="#rules">
								<span>RULES</span>
							</a>
						</li>
						<li class="sub-menu-item">
							<a tabindex="-1" data-nav="accesspoints" href="#accesspoints">
								<span>ACCESS POINTS</span>
							</a>
						</li>
						<li class="sub-menu-item">
							<a tabindex="-1" data-nav="lists" href="#lists">
								<span>ACCESS POINT GROUPS</span>
							</a>
						</li>
						<li class="sub-menu-item active">
							<a tabindex="-1" data-nav="areas" href="#areas">
								<span>AREAS</span>
							</a>
						</li>
						<li class="sub-menu-item">
							<a tabindex="-1" data-nav="buildings" href="#buildings">
								<span>BUILDINGS</span>
							</a>
						</li>
						<li class="sub-menu-item">
							<a tabindex="-1" data-nav="customrules" href="#customrules">
								<span>CUSTOM RULES</span>
							</a>
						</li>
					</ul>
					<div class="right-menu">
						<span class="tenant-info">Brite Snow</span>
						<span class="icon"></span>
					</div>
				</div>
				<div class="main-ctn">
					<div class="ctn-header">
						<div class="left-menu">
							<div class="title">Areas</div>
						</div>
						<div class="right-menu">
							<span class="icon"></span>
							<span class="btn btn-area-add">
								<span>+  Area</span>
							</span>
						</div>
					</div>
					<div class="ctn-content">
						<div class="ctn-content-left">
							<div class="menu-panel">
								<div class="menu-panel-sec-header">
									<div class="title">
										<span>(</span>
										<span class="count">4</span>
										<span>) FLOOR PLANS</span>
									</div>
									<div class="tool">
										<div class="icon"></div>
										<div class="search-input">
											<input />
											<span class="icon"></span>
										</div>
									</div>
								</div>
								<div class="menu-panel-body">
									<div class="item active">
										<div class="name">Custom Area</div>
										<div class="icon"></div>
									</div>
									<div class="item">
										<div class="name">Main Area</div>
										<div class="icon"></div>
									</div>
									<div class="item">
										<div class="name">Area #3</div>
										<div class="icon"></div>
									</div>
									<div class="item">
										<div class="name">Area #4</div>
										<div class="icon"></div>
									</div>
								</div>
							</div>
						</div>

						<div class="ctn-content-right">
							<div class="ctn-content-right-header">
								<div class="left-sec">
									<div class="title">Custom Area</div>
									<div class="icon"></div>
								</div>
								<div class="right-sec">
									<div class="title">Assigned to Area</div>
									<div class="search-input">
										<input />
										<span class="icon" />
									</div>
								</div>
							</div>
							<div class="ctn-content-right-content">
								<div class="main-con">
									<div class="top-part">
										<div class="info-sec">
											<div class="info-sec-title">About Area</div>
											<div class="info-sec-content">
												The description for this area will go here and give users the flexibility to update its content very easily by clicking the gear icon to the right of the area name above
											</div>
										</div>
										<div class="info-sec">
											<div class="info-sec-title">Area Timezone</div>
											<div class="info-sec-content">
												Tenant Time (UTC-07:00) Mountain Time (US & Canada)
											</div>
										</div>
									</div>
									<div class="bottom-part">
										<div class="status-bar">
											<div class="left-status">
												<div class="title">(3) USERS ASSIGNED TO AREA</div>
											</div>
											<div class="right-status">
												<div class="btn">
													<span class="icon"></span>
													<span>Edit</span>
												</div>
												<div class="btn">
													<span class="icon"></span>
													<span>User</span>
												</div>
												<div class="search-input">
													<input />
													<span class="icon" />
												</div>
											</div>
										</div>
										<div class="table">
											<div class="thead">
												<div class="tr">
													<div class="td name">NAME</div>
													<div class="td access">ACCESS</div>
													<div class="td web-access">WEB ACCESS</div>
													<div class="td last-update">LAST UPDATE</div>
												</div>
											</div>
											<div class="tbody">
												<div class="tr">
													<div class="td name">
														<span class="icon"></span>
														<span>Pitt, Brad</span>
													</div>
													<div class="td access">
														<span>Manage</span>
														<span class="icon"></span>
													</div>
													<div class="td web-access">
														YES
													</div>
													<div class="td last-update">
														4 months ago
													</div>
												</div>
												<div class="tr">
													<div class="td name">
														<span class="icon"></span>
														<span>Pitt, Brad</span>
													</div>
													<div class="td access">
														<span>Manage</span>
														<span class="icon"></span>
													</div>
													<div class="td web-access">
														YES
													</div>
													<div class="td last-update">
														4 months ago
													</div>
												</div>
												<div class="tr">
													<div class="td name">
														<span class="icon"></span>
														<span>Pitt, Brad</span>
													</div>
													<div class="td access">
														<span>Manage</span>
														<span class="icon"></span>
													</div>
													<div class="td web-access">
														YES
													</div>
													<div class="td last-update">
														4 months ago
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="areas-con">
									<div class="area-secs">
										<div class="area-sec active">
											<div class="area-sec-header">
												<div class="left">
													<div class="name">User Groups</div>
													<div class="count">/ 4</div>
												</div>
												<div class="icon arrow-icon"></div>
											</div>
											<div class="area-sec-body">
												<div class="area-item">
													<div class="icon"></div>
													<div class="name">24-7</div>
												</div>
												<div class="area-item">
													<div class="icon"></div>
													<div class="name">ASQ Group</div>
												</div>
												<div class="area-item">
													<div class="icon"></div>
													<div class="name">Group #3</div>
												</div>
												<div class="area-item">
													<div class="icon"></div>
													<div class="name">Group #4</div>
												</div>
											</div>
										</div>
										<div class="area-sec">
											<div class="area-sec-header">
												<div class="left">
													<div class="name">Access Points</div>
													<div class="count">/ 24</div>
												</div>
												<div class="icon arrow-icon"></div>
											</div>
											<div class="area-sec-body">
												<div class="area-item">
													<div class="icon"></div>
													<div class="name">Area</div>
												</div>
												<div class="area-item">
													<div class="icon"></div>
													<div class="name">Area</div>
												</div>
												<div class="area-item">
													<div class="icon"></div>
													<div class="name">Area</div>
												</div>
												<div class="area-item">
													<div class="icon"></div>
													<div class="name">Area</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</script>
