<div class="MainView">
	<header class="main-header">
		<div class="header-left">
			<div class="icon"></div>
			<div class="logo">ISONAS</div>
		</div>
		<div class="header-center">
			<div class="action">
				<span class="icon"></span>
				<span>Update Access Points</span>
			</div>
		</div>
		<div class="header-right">
			<div class="item">
				<span class="icon"></span>
			</div>
			<div class="item">
				<span class="icon"></span>
			</div>
			<div class="item user-info">
				<span class="icon user-icon">
				</span>
				<span class="icon arrow-icon"></span>
			</div>
		</div>
	</header>
	<section class="main-content">
		<ul class="menu">
			<li class="menu-item active">
				<a tabindex="-1" data-nav="dashboard" href="#dashboard">
					<span class="icon"></span>
					<span>Dashboard</span>
				</a>
			</li>
			<li class="menu-item">
				<a tabindex="-1" data-nav="users" href="#users">
					<span class="icon"></span>
					<span>Users</span>
				</a>
			</li>
			<li class="menu-item">
				<a tabindex="-1" data-nav="accesscontrol" href="#accesscontrol">
					<span class="icon"></span>
					<span>Access Control</span>
				</a>
			</li>
			<li class="menu-item">
				<a tabindex="-1" data-nav="reports" href="#reports">
					<span class="icon"></span>
					<span>Reports</span>
				</a>
			</li>
			<li class="menu-item">
				<a tabindex="-1" data-nav="settings" href="#settings">
					<span class="icon"></span>
					<span>Settings</span>
				</a>
			</li>
			<li class="menu-item">
				<a tabindex="-1" data-nav="alerts" href="#alerts">
					<span class="icon"></span>
					<span>Alerts</span>
				</a>
			</li>
		</ul>
		<div class="content-ctn">
			<div class="sub-header">
				<ul class="sub-menu">
					<li class="sub-menu-item active">
						<a tabindex="-1" data-nav="rules" href="#rules">
							<span>RULES</span>
						</a>
					</li>
					<li class="sub-menu-item">
						<a tabindex="-1" data-nav="accesspoints" href="#accesspoints">
							<span>ACCESS POINTS</span>
						</a>
					</li>
					<li class="sub-menu-item">
						<a tabindex="-1" data-nav="lists" href="#lists">
							<span>ACCESS POINT GROUPS</span>
						</a>
					</li>
					<li class="sub-menu-item">
						<a tabindex="-1" data-nav="areas" href="#areas">
							<span>AREAS</span>
						</a>
					</li>
					<li class="sub-menu-item">
						<a tabindex="-1" data-nav="buildings" href="#buildings">
							<span>BUILDINGS</span>
						</a>
					</li>
					<li class="sub-menu-item">
						<a tabindex="-1" data-nav="customrules" href="#customrules">
							<span>CUSTOM RULES</span>
						</a>
					</li>
				</ul>
				<div class="right-menu">
					<span class="tenant-info">Brite Snow</span>
					<span class="icon"></span>
				</div>
			</div>
			<div class="main-ctn">
				
			</div>
		</div>
	</section>
</div>