<div class="MainView">
	<header class="main-header">
		<div class="header-left">
			<div class="icon"></div>
			<div class="logo">ISONAS</div>
		</div>
		<div class="header-center">
			<div class="action">
				<span class="icon"></span>
				<span>Update Access Points</span>
			</div>
		</div>
		<div class="header-right">
			<div class="item">
				<span class="icon"></span>
			</div>
			<div class="item">
				<span class="icon"></span>
			</div>
			<div class="item user-info">
				<span class="icon user-icon">
				</span>
				<span class="icon arrow-icon"></span>
			</div>
		</div>
	</header>
	<section class="main-content">
		<ul class="menu">
			<li class="menu-item active">
				<a tabindex="-1" data-nav="dashboard" href="#dashboard">
					<span class="icon"></span>
					<span>Dashboard</span>
				</a>
			</li>
			<li class="menu-item">
				<a tabindex="-1" data-nav="users" href="#users">
					<span class="icon"></span>
					<span>Users</span>
				</a>
			</li>
			<li class="menu-item">
				<a tabindex="-1" data-nav="accesscontrol" href="#accesscontrol">
					<span class="icon"></span>
					<span>Access Control</span>
				</a>
			</li>
			<li class="menu-item">
				<a tabindex="-1" data-nav="reports" href="#reports">
					<span class="icon"></span>
					<span>Reports</span>
				</a>
			</li>
			<li class="menu-item">
				<a tabindex="-1" data-nav="settings" href="#settings">
					<span class="icon"></span>
					<span>Settings</span>
				</a>
			</li>
			<li class="menu-item">
				<a tabindex="-1" data-nav="alerts" href="#alerts">
					<span class="icon"></span>
					<span>Alerts</span>
				</a>
			</li>
		</ul>
		<div class="content-ctn">
			<div class="sub-header">
				<ul class="sub-menu">
					<li class="sub-menu-item active">
						<a tabindex="-1" data-nav="rules" href="#rules">
							<span>RULES</span>
						</a>
					</li>
					<li class="sub-menu-item">
						<a tabindex="-1" data-nav="accesspoints" href="#accesspoints">
							<span>ACCESS POINTS</span>
						</a>
					</li>
					<li class="sub-menu-item">
						<a tabindex="-1" data-nav="lists" href="#lists">
							<span>ACCESS POINT GROUPS</span>
						</a>
					</li>
					<li class="sub-menu-item">
						<a tabindex="-1" data-nav="areas" href="#areas">
							<span>AREAS</span>
						</a>
					</li>
					<li class="sub-menu-item">
						<a tabindex="-1" data-nav="buildings" href="#buildings">
							<span>BUILDINGS</span>
						</a>
					</li>
					<li class="sub-menu-item">
						<a tabindex="-1" data-nav="customrules" href="#customrules">
							<span>CUSTOM RULES</span>
						</a>
					</li>
				</ul>
				<div class="right-menu">
					<span class="tenant-info">Brite Snow</span>
					<span class="icon"></span>
				</div>
			</div>
			<div class="main-ctn">
				<div class="ctn-header">
					<ul class="sub-menu building-items">
						<li class="sub-menu-item active">
							<a tabindex="-1">
								<span>ENGINEERING</span>
							</a>
						</li>
						<li class="sub-menu-item">
							<a tabindex="-1">
								<span>ARTS</span>
							</a>
						</li>
						<li class="sub-menu-item">
							<a tabindex="-1">
								<span>SOCIAL SCIENCE</span>
							</a>
						</li>
						<li class="sub-menu-item">
							<a tabindex="-1"">
								<span>BUIDING FOUR</span>
							</a>
						</li>
						<li class="sub-menu-item">
							<a tabindex="-1">
								<span>BUIDING FIVE</span>
							</a>
						</li>
						<li class="sub-menu-item">
							<a tabindex="-1">
								<span>BUIDING SIX</span>
							</a>
						</li>
						<li class="sub-menu-item">
							<a tabindex="-1">
								<span>BUIDING SIX</span>
							</a>
						</li>
						<li class="sub-menu-item">
							<a tabindex="-1">
								<span>MORE</span>
							</a>
						</li>
					</ul>
					<div class="right-menu">
						<span class="icon"></span>
						<span class="btn btn-building-add">
							<span>+  Building</span>
						</span>
					</div>
				</div>
				<div class="ctn-content">
					
					<div class="ctn-content-left">
						<div class="menu-panel">
							<div class="menu-panel-header">
								<div class="menu-panel-header-left">
									<div class="icon"></div>
									<div class="title">Manage</div>
									<div class="name">Engineering</div>
								</div>
								<div class="menu-panel-header-right">
									<div class="icon"></div>
								</div>
							</div>
							<div class="menu-panel-sec-header">
								<div class="title">
									<span>(</span>
									<span class="count">4</span>
									<span>) FLOOR PLANS</span>
								</div>
								<div class="btn btn-panel-add">+ PLAN</div>
							</div>
							<div class="menu-panel-body">
								<div class="item active">
									<div class="name">Main Floor</div>
									<div class="icon"></div>
								</div>
								<div class="item">
									<div class="name">Main Floor</div>
									<div class="icon"></div>
								</div>
								<div class="item">
									<div class="name">Main Floor</div>
									<div class="icon"></div>
								</div>
								<div class="item">
									<div class="name">Main Floor</div>
									<div class="icon"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="ctn-content-right">
						<div class="ctn-content-right-header">
							<div class="left-sec">
								<div class="title">Main Floor</div>
								<div class="icon"></div>
							</div>
							<div class="right-sec">
								<div class="title">Floor Plan Access Points</div>
								<div class="search-input">
									<input />
									<span class="icon" />
								</div>
							</div>
						</div>
						<div class="ctn-content-right-content">
							<div class="main-con">
								<div class="toolbar">
									<div class="btn btn-plus">+</div>
									<div class="btn btn-minus">-</div>
								</div>
								<div class="floor-con">
									<div class="img-con"></div>
									<div class="points-con">
										<div class="point"></div>
									</div>
								</div>
							</div>
							<div class="areas-con">
								<div class="area-secs">
									<div class="area-sec active">
										<div class="area-sec-header">
											<div class="name">Lobby</div>
											<div class="count">/ 4</div>
											<div class="selected">/ 1 Selected</div>
										</div>
										<div class="area-sec-body">
											<div class="area-item">
												<div class="icon"></div>
												<div class="name">Area</div>
											</div>
											<div class="area-item">
												<div class="icon"></div>
												<div class="name">Area</div>
											</div>
											<div class="area-item">
												<div class="icon"></div>
												<div class="name">Area</div>
											</div>
											<div class="area-item">
												<div class="icon"></div>
												<div class="name">Area</div>
											</div>
										</div>
									</div>
									<div class="area-sec">
										<div class="area-sec-header">
											<div class="name">Lobby</div>
											<div class="count">/ 4</div>
											<div class="selected">/ 1 Selected</div>
										</div>
										<div class="area-sec-body">
											<div class="area-item">
												<div class="icon"></div>
												<div class="name">Area</div>
											</div>
											<div class="area-item">
												<div class="icon"></div>
												<div class="name">Area</div>
											</div>
											<div class="area-item">
												<div class="icon"></div>
												<div class="name">Area</div>
											</div>
											<div class="area-item">
												<div class="icon"></div>
												<div class="name">Area</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>